body {
  font-family: 'lato', sans-serif;
  background-color: #ffebe8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
}

h1 {
  font-family: 'Chewy', cursive;
  text-align: center;
}

h3 {
  text-align: center;
}

.gameContainer {
  display: flex;
  padding: 1em;
  gap: 1em;
  min-height: 0;
}
.infoContainer{
  display: flex;
  justify-content: center;
}

.leftHalf {
  background-color: #FDDDE6;
  border: 0em dotted #ccc;
  border-radius: 25px;
  flex: 1;
  overflow-y: auto;
  height: 100%;

}

/************************ RIGHT PANEL ************************/
.rightHalf {
  border-radius: 25px;
  position: relative;
  flex: 3;
  display: flex;
  flex-direction: column;
}

/********** Bunny Display ************/
#bunnyContainer0{
  display: flex;
  position: relative;
  height: 80%;
}
#bunnyContainer1{
  position: relative;
}

#bgImg {
  position: absolute;
  top: 0;
  left: 0;
}
#bunnyImg {
  position: absolute;
  top: 0;
  left: 0;
}
#outfitImg {
  position: absolute;
  top: 0;
  left: 0;
}
#extraImg {
  position: absolute;
  top: 0;
  left: 0;
}

/********** Load Display ************/
#saveContainer {
  background-color: #FDDDE6;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex:1;
}

#saveContainer button{
  background-color: white;
  border: 0.1em lavender solid;
  border-radius: 10px;
  padding: 20px;
}

/* #notLoggedInDiv {
  visibility: visible;
}

#loggedInDiv {
  display: none;
  visibility: hidden;
} */

/* Style buttons */
.download {
  font-size: 20px;
}

/* Darker background on mouse-over */
.download:hover { 
  background-color: pink;
}

canvas {
  visibility: hidden;
  display: none;
}

/************************ LEFT PANEL ************************/
/********** Grid Display Items ************/
.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.myGallery img {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.myGallery button {
  border: 0;
  border-radius: 25px;
}

/********** Tab Display Items ************/
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FDDDE6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 25px;
}

/* Float the list items side by side */
ul.tab li {
  float: left;
}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus,
.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}